*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
#root,
#__next {
	isolation: isolate;
}
span {
	font-size: 0.8rem;
	text-align: center;
}
input,
button {
	border-radius: 0.5rem;
	border: none;
}
input {
	height: 3rem;
	padding-left: 1rem;
}
button {
	padding: 0.5rem 1rem;
}
main {
	display: grid;
	place-content: center;
	height: calc(100vh - 4rem);
	text-align: center;
}
form {
	display: flex;
	gap: 2rem;
	flex-direction: column;
	width: 300px;
}
nav {
	height: 4rem;
	text-align: center;
	width: 800px;
	margin-inline: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
